@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700&family=Nunito:wght@700&display=swap'); 

/* Universal */

* {
    font-family: 'Maven Pro', sans-serif;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global */
header {
    margin: 0 auto;
    background-color: red;
    margin: 20px;
}
